/* fond de la page */
body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}

/* Header de la page */
header {
	color: white;
	background-color: #004080;
	margin: 0;
}

.top {
	max-width: 960px;
	margin: auto;
}
.top h1 {
	max-width: 960px;
	float: left;
	font-size: 24px;
}

.top h3 {
	max-width: 960px;
	margin: auto;
	float: right;
	font-size: 16px;
	text-align: right;
	padding-top: 0.4em;
}

.top p {
	max-width: 960px;
	margin: auto;
	float: right;
	font-size: 12px;
	text-align: right;
	padding-bottom: 0.4em;
}

/* titre de la page web */
.titre_top {
	max-width: 960px;
	float: left;
	font-size: 24px;
}

.titre_top a:link {
	text-decoration: none;
}

.titre_top a:visited {
	text-decoration: none;
	color: white;
}

.titre_top a:active {
	text-decoration: none;
	color: white;
}

/* concerne la page sous le menu */
.page{
	max-width: 960px;
	margin: auto;
	padding: .6em .6em .6em .6em;
}

.page ul {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 12px;
	padding: 0;
    margin-bottom: 4em;
}

.page li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    text-decoration: none;
    border-radius: .3em;
	color: black;
}

.page a:hover{
    background: #eee;
}

.page h3:before{
    content: ">";
    position: absolute;
    left: -0.4em;
    top: 50%;
    margin-top: -1.2em;
    background: #c2d6d6;
    height: 2em;
	width: 2em;
    line-height: 2em;
    border: .2em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

.page h3{
    position: relative;
    display: block;
    padding: .2em .2em .2em 2.2em;
    *padding: .2em;
    margin: .5em 0;
    text-decoration: none;
    border-radius: .2em;
	color: black;
}

.page li:before{
    content: ">";
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #c2d6d6;
    height: 2em;
	width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

/* titre de la page décrite ci-dessus */
.titre{
        position: relative;
        display: block;
        color: black;
		text-align: center;
}

/* ***** style tableau */
.alternate{
	width:50%;
	border-collapse:collapse;
	padding: 10px 10px 10px 20px;
	margin-left: auto;
	margin-right: auto;
}

.alternate td{
	padding: 10px 25px 20px ;
	border:#ccccb3 1px solid;
}

.alternate tr:nth-child(2n) {
	background-color:  #95a5a6;
}

.alternate tr:nth-child(2n):hover, .alternate tr:hover {
	background-color:  #b3b6b7;
}

.alternate tr {
	background-color: white;
}

.alternate th {
    background-color: #333;
	color: #ffffff;
	padding: 10px 10px 10px ;
}
/* ****** */

/* style menu */
.menubar{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: visible;
	font-size: 12px;
	max-width: 960px;
}

.menubar li{
	float: left;
	border-right: 1px solid #bbb;
}

.menubar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}

.menubar li a:hover {
	background-color: #c2d6d6;
	color: black;
}

.menu_deroulant {
	position: relative;
	font: 12px;
	padding: 0;
}

.contenu_menu {
	display: none;
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 0;
}

.contenu_menu li {
	text-decoration: none;
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
	border-right: 0;
	margin: auto;
	min-width: 200px;
}

.contenu_menu li a {
	display: block;
	color: black;
	text-align: left;
	text-decoration: none;
}

.contenu_menu li:hover {
	background-color: #c2d6d6;
}

.menu_deroulant:hover .contenu_menu {display: block;}

.menu_deroulant:hover .bouton_deroulant {
	background-color: #c2d6d6;
	color: black;
}
/* ****** */

/* style bouton lien */
.button_link {
	background-color: #c2d6d6;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 1px;
	cursor: pointer;
}

/* image centrée */
.img_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* formulaires */
.formul {
	border-style: solid;
	border-color: #c2d6d6;
	border-width: 4px;
	margin-top: 2em;
	background-color: #f2f2f2;
}

.formul h4 {
	position: absolute;
	margin-top: -1.35em;
}

.formul p {
	margin-top: 1.5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.formul table {
	margin-bottom: 1.5em;
}


/* classe menu fixe lors du scrolling */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #004080;
  color: white;
  z-index: 3;
}

.sticky + .content {
  padding-top: 60px;
}

/* footer */
.bottom {
	max-width: 960px;
	margin: auto;
}

.bottom p {
	float: left;
	color: black;
	font-size: 12px;
}

.bottom hr {
	margin-top: 2em;
	background-color: black;
}

.bottom_droite {
	float: right;
	padding-top: 0.7em;
	padding-left: 2em;
	padding-bottom: 1em;
}

/* affichage date de mise à jour page */

.update_time {
	text-align: right;
	font-style: italic;
	font-size: 12px;
}
