.page{
	max-width: 960px;
	margin: auto;
	background-color: #f2f2f2;
	padding: .4em .4em .4em .4em;
	font-family: sans-serif;
}

.alternate{
	width:50%;
	border-collapse:collapse;
	padding: 10px 10px 10px 20px;
	margin-left: auto;
	margin-right: auto;
}

.alternate td{
	padding: 10px 25px 20px ;
	border:#ccccb3 1px solid;
}

.alternate tr:nth-child(2n) {
	background-color:  #95a5a6;
}

.alternate tr:nth-child(2n):hover, .alternate tr:hover {
	background-color:  #b3b6b7;
}

.alternate tr {
	background-color: white;
}

.alternate th {
    background-color: #333;
	color: #ffffff;
	padding: 10px 10px 10px ;
}

.menubar{
	margin: auto;
	font-family: sans-serif;
	max-width: 960px;
}

.menubar ul{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
	max-width: 960px;
}

.menubar li{
	float: left;
	border-right: 1px solid #bbb;
}

.menubar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}

.menubar li a:hover {
	background-color: #c2d6d6;
}

.button_link {
	background-color: #c2d6d6;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 1px;
	cursor: pointer;
}

.img_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.page ul {
    counter-reset: li; /* Initialise le compteur */
    list-style: none; /* Supprime la numérotation par défaut */
    *list-style: decimal; /* Restitue la numérotation par défaut pour IE6/7 */
    font: 12px;
	padding: 0;
    margin-bottom: 4em;
}

.page li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    text-decoration: none;
    border-radius: .3em;
	color: black;
}

.page a:hover{
    background: #eee;
}

.page h3:before{
    content: ">";
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #c2d6d6;
    height: 2em;
	width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

.page h3{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    text-decoration: none;
    border-radius: .3em;
	color: black;
}

.page li:before{
    content: ">";
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #c2d6d6;
    height: 2em;
	width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

.titre{
        position: relative;
        display: block;
        padding: .4em .4em .4em .8em;
        *padding: .4em;
        margin: 0;
        background: #2a52a2;
        color: white;
        text-decoration: none;
}
